.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.wrapper{
  width: 900px;
  min-height: 300px;
  margin: 0 auto;;
}
.btn{
  background-color: rgb(88, 88, 88);
  border: unset;
  padding: 0.7rem 1.2rem;
  margin-right: 1rem;
  color: white;
  text-transform: uppercase;
  font-weight: 300;
}
.user{
  text-transform: uppercase;
  font-weight: 300;
}
.comp{
  text-transform: uppercase;
  font-weight: 500;
}